In [7]:
import pandas as pd
import networkx as nx

In [3]:
inpt = pd.read_csv('csv_example_messy_input.csv')
otpt = pd.read_csv('output.csv')

In [4]:
inpt.drop(['Source', 'Fax', 'Program Name', 'Length of Day', 'IDHS Provider ID', 
           'Agency', 'Neighborhood', 'Funded Enrollment', 'Executive Director', 'Center Director',
          'Program Option', 'Number per Site EHS', 'Number per Site HS', 'Director',
          'Head Start Fund', 'Progmod', 'Eearly Head Start Fund', 'CC fund', 'Website',
          'ECE Available Programs', 'NAEYC Valid Until', 'NAEYC Program Id', 'Email Address',
          'Ounce of Prevention Description', 'Purple binder service type',
          'Column', 'Column2'], axis=1, inplace=True)
inpt.head()

,Id,Site name,Address,Zip,Phone
0,0,Salvation Army - Temple / Salvation Army,1 N Ogden Ave,NaN,2262649.0
1,1,Salvation Army - Temple / Salvation Army,1 N Ogden Ave,NaN,2262649.0
2,2,National Louis University - Dr. Effie O. Elli...,10 S Kedzie Ave,NaN,5339011.0
3,3,National Louis University - Dr. Effie O. Elli...,10 S Kedzie Ave,NaN,5339011.0
4,4,Board Trustees-City Colleges of Chicago - Oli...,10001 S Woodlawn Ave,NaN,2916100.0

In [5]:
otpt.drop(['Source', 'Fax', 'Program Name', 'Length of Day', 'IDHS Provider ID', 
           'Agency', 'Neighborhood', 'Funded Enrollment', 'Executive Director', 'Center Director',
          'Program Option', 'Number per Site EHS', 'Number per Site HS', 'Director',
          'Head Start Fund', 'Progmod', 'Eearly Head Start Fund', 'CC fund', 'Website',
          'ECE Available Programs', 'NAEYC Valid Until', 'NAEYC Program Id', 'Email Address',
          'Ounce of Prevention Description', 'Purple binder service type',
          'Column', 'Column2'], axis=1, inplace=True)
otpt.head()

,Cluster ID,Id,Site name,Address,Zip,Phone
0,0,0,salvation army - temple / salvation army,1 n ogden ave,NaN,2262649.0
1,0,1,salvation army - temple / salvation army,1 n ogden ave,NaN,2262649.0
2,0,215,salvation army temple,1 n. ogden,NaN,2262649.0
3,0,509,salvation army - temple / salvation army,1 n ogden ave,NaN,2262649.0
4,0,510,salvation army - temple / salvation army,1 n ogden ave,NaN,2262649.0

In [8]:
%%time
raw_graph = nx.Graph()
thresh = 50
for i in range(inpt.shape[0]):
    for j in range(inpt.shape[0]):
        dist = abs(inpt['Id'][i] - inpt['Id'][j])
        if dist < thresh:
            raw_graph.add_edge(inpt['Id'][i], inpt['Id'][j], distance=dist)

CPU times: user 2min 56s, sys: 24 ms, total: 2min 56s
Wall time: 2min 56s

In [9]:
%%time
er_graph = nx.Graph()
thresh = 4
for i in range(otpt.shape[0]):
    for j in range(otpt.shape[0]):
        dist = abs(otpt['Cluster ID'][i] - otpt['Cluster ID'][j])
        if dist < thresh:
            er_graph.add_edge(otpt['Id'][i], otpt['Id'][j], distance=dist)

CPU times: user 1min 57s, sys: 44 ms, total: 1min 57s
Wall time: 1min 57s

In [11]:
inpt.to_csv('chris_input.csv', index=False)
otpt.to_csv('chris_output.csv', index=False)

In [17]:
temp = pd.DataFrame(list(er_graph.edges()))
temp.to_csv('output_edges.csv', index=False)
temp = pd.DataFrame(list(raw_graph.edges()))
temp.to_csv('input_edges.csv', index=False)